body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 90%;
    text-align: center;
    min-width: 400px;
}

#game {
    display: none;
}

#market {
    margin-top: 20px;
}

.good {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

.good span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.good span:first-child {
    width: 150px;
    display: inline-block;
    background-color: #d3d3d3; /* Light grey */
    padding: 5px;
    border-radius: 4px;
}

.last-bought {
    margin-left: 10px; /* Vertically-aligned (Last Bought For) element */
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons button {
    flex: 1;
    margin: 2px;
}

#locations {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#travelOptions {
    display: none;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.alert-box {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    display: none;
}

#info p {
    text-align: left;
    margin: 5px 0;
}

#info, #locations {
    width: 100%;
}
